/* AdvancedSlider.css */
.slider-container {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: auto;
}

.slider {
  display: flex;
  
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Arrows */
.prev,
.next {
  position: absolute;
  top: 50%;
 
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
