.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  
}


.headerContainer {
  width: 100%;
  margin: 20px 0px 100px 0px;
  
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.headersearch{
  display: flex;
 
 justify-content: space-around;
  align-items: center;
  width: 89%;
  
  
  
  border: 5px solid #ffb700;
  background-color: white;
  height: 60px;
  position: absolute;
  bottom:-25px;
  z-index: 100;
}

.headersearchitem{
  display: flex;
  gap: 10px;
}

.headericon{
  color:lightgray;
}
.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  .header {
  padding: 0px;
  }
  .headerContainer {
    margin: 10px 0px 50px 0px;
    padding: 0 10px;
  }
  .headerListItem{
    flex-shrink: 0;
  }
  .headerContainer.listMode{
    
  }

  .headerList {
    margin-bottom: 20px;
    gap: 15px;
    overflow-x: scroll;
   
  }

  .headersearch {
    flex-direction: column; /* Stack search items vertically */
    align-items: flex-start;
    gap: 15px;
    display: none;
  }

  .headersearchitem {
    width: 100%; /* Take full width in search items */
  }

  .headerBtn {
    width: 100%; /* Full width button on smaller screens */
  }

  .headerSearchInput {
    width: 100%;
    display: none; /* Full width search input */
  }
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .headersearch {
    display: none;
  }
}