.searchresult-con{
  display: flex;

  gap: 10px;
 margin-top: 40px;
 justify-content: center;
 
  
}
.searchitem-container{
  display: flex;
  flex-direction: column;
  

}
.searchItem {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 240px;
  width: 100%;
 max-width: 825px;
 cursor: pointer;
 display: flex;
 

}

.siImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  
}

.siTitle {
  font-size: 20px;
  color: #0071c2;
}

.siDistance {
  font-size: 12px;
}

.siTaxiOp {
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}

.siSubtitle{
  font-size: 12px;
  font-weight: bold;
}

.siFeatures{
  font-size: 12px;
}

.siCancelOp{
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle{
  font-size: 12px;
  color: #008009;
}

.sicon{
  display: flex;
  
 
}
.siDetails {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
 
  
}

.siRating{
  display: flex;
  align-self: self-end;
 
}
.rate-con{
  display: flex;
  flex-direction: column;
 
 
  
  
}
.score{
  font-size: small;
  font-weight: 600;
  width: 100px;
}

.reviewtext{
  font-size: 10px;
  align-items: self-start;
}

.siRating>span{
  font-weight: 500;
}
.siRating>button{
 background-color: #003580;
 color: white;
 height: 20px;
 width: 35px;
 font-size: smaller;
 border: none;
}

.siDetailTexts{
  text-align: right;
  display: flex;
  flex-direction: column;
  
  gap: 5px;
}

.siPrice{
  font-size: 24px;
}

.siTaxOp{
  font-size: 12px;
  color: gray;
}

.siCheckButton{
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .searchresult-con{
   
  }
  .siTitle {
    font-size: small;
    width: fit-content; /* Adjust font size for smaller screens */
  }
  .siFeatures{
    font-size: 10px
  }
  .score{
    display: none;
  }
  .reviewtext{
    display: none;
  }

  .siImg {
    width: 180px;
    
  }
  .siCancelOpSubtitle{
    display: none;
  }

  .siCancelOp{
    display: none;
  }

  .siCheckButton {
   display: none;
  }
}

@media (max-width: 768px) {
  .siCheckButton {
    display: none;
   }

}